extends ../../layouts/default.pug 

block main

  div(class='mt-[30px] ml-[8%]')
    div(class='flex text-[#5C3F2C] items-center text-[12px] font-[600]') 
      <i class="fa-solid fa-house-user mr-[8px]"></i>
      a(href='/') TRANG CHỦ
  h1(class='text-[24px] font-bold w-full text-start ml-[8%] mt-[20px] uppercase') #{pageTitle}:
  div(class='mx-[8%] mt-[18px]')
    | Bạn vui lòng chọn các phương thức thanh toán dưới đây, cảm ơn bạn vì đã tin và sử dụng dịch vụ của bên mình, chúc bạn có một ngày mới vui vẻ !
  div(class='mt-[18px] flex gap-[8%] justify-center items-center')
    a(href='/checkout')
      div(class='border px-[12px] py-[8px] bg-[#EFF1F5]')
        p(class='flex justify-center items-center mb-[18px]') 
          <i class="fa-solid fa-money-check-dollar text-[32px]"></i>
        p(class='text-[18px]') Thanh toán trực tiếp
    a(href='/pay')
      div(class='border px-[12px] py-[8px] bg-[#EFF1F5]')
        p(class='flex justify-center items-center mb-[18px]') 
          <i class="fa-brands fa-cc-visa text-[32px]"></i>
        p(class='text-[18px]') Thanh toán trực tuyến



      
