<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <title>Document</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
</style>
<body>
    <footer class="w-full h-[400px] bg-[#191919] ">
      <div class="flex text-white py-[35px] px-[35px]">
        <div class=" text-[15px] ml-[50px] flex-1">
        <div class="">
            <img src="logo-footer.webp" alt="">
        </div>
        <div class="mt-[35px] opacity-50">
            <i class="fa-solid fa-location-dot text-[#35C0BB] mr-[8px]"></i>
            <span> Tầng 6,tòa nhà Ladeco,266 Đội Cấn,Hà Nội,Việt Nam, Hà Nội,</span>
        </div>
        <div class="mt-[25px] opacity-50">
            <i class="fa-solid fa-phone text-[#35C0BB] mr-[8px]"></i>
            <span> 0000 9999</span>
        </div>
        <div class="mt-[25px] opacity-50">
            <i class="fa-solid fa-envelope text-[#35C0BB] mr-[8px]"></i>
            <span> phong@gmail.com</span>
        </div>
        </div>

        <div class="flex flex-1 justify-around">
        <div>
            <h2>VỀ CHÚNG TÔI</h2>
            <ul class="text-[15px] font-[400] opacity-50 pt-[25px]">
                <li class="mb-[15px]">
                    Trang chủ
                </li>
                <li class="mb-[15px]">
                    Trang chủ
                </li>
                <li class="mb-[15px]">
                    Giới thiệu
                </li>
                <li class="mb-[15px]">
                    Sản phẩm
                </li>
                <li class="mb-[15px]">
                    Tin tức
                </li>
                <li class="mb-[15px]">
                    Liên hệ
                </li>
            </ul>
        </div>
        <div>
            <h2>DỊCH VỤ</h2>
            <ul class="text-[15px] font-[400] opacity-50 pt-[25px]">
                <li class="mb-[15px]">
                    Trang chủ
                </li>
                <li class="mb-[15px]">
                    Trang chủ
                </li>
                <li class="mb-[15px]">
                    Giới thiệu
                </li>
                <li class="mb-[15px]">
                    Sản phẩm
                </li>
                <li class="mb-[15px]">
                    Tin tức
                </li>
                <li class="mb-[15px]">
                    Liên hệ
                </li>
            </ul>
        </div>
        <div>
            <h2>LIÊN HỆ</h2>
            <ul class="text-[15px] font-[400] opacity-50 pt-[25px]">
                <li class="mb-[15px]">
                    Trang chủ
                </li>
                <li class="mb-[15px]">
                    Trang chủ
                </li>
                <li class="mb-[15px]">
                    Giới thiệu
                </li>
                <li class="mb-[15px]">
                    Sản phẩm
                </li>
                <li class="mb-[15px]">
                    Tin tức
                </li>
                <li class="mb-[15px]">
                    Liên hệ
                </li>
            </ul>
        </div>
        </div>
      </div>
      
      <div class="text-white text-[15px] flex justify-around border-t p-[15px]">
        <div class=" flex justify-content align-center">
            © Bản quyền thuộc về <span class="text-[15px] text-[#35C0BB] mx-[5px] font-[600]"> Avent Team</span> | Cung cấp bởi <span class="text-[15px] text-[#35C0BB] mx-[5px] font-[600]"> Sapo</span>
        </div>

        <div class="flex ">
            <span>Follow us</span>
            <i class="fa-brands fa-facebook ml-[8px] m-auto"></i>
            <i class="fa-brands fa-tiktok ml-[8px] m-auto"></i>
            <i class="fa-brands fa-google ml-[8px] m-auto"></i>
            <i class="fa-brands fa-instagram ml-[8px] m-auto"></i>
        </div>
      </div>
      
    </footer>
</body>
</html>