footer.w-full(class='h-[400px]') 
  .flex.text-white(class='py-[35px] px-[35px]')
    .flex-1(class='text-[15px] ml-[50px]')
      div
        img(src='/images/logo-footer.webp' alt='')
      .opacity-50(class='mt-[35px]')
        i.fa-solid.fa-location-dot(class='text-[#35C0BB] mr-[8px]')
        span  T&#x1EA7;ng 6,t&ograve;a nh&agrave; Ladeco,266 &Dstrok;&#x1ED9;i C&#x1EA5;n,H&agrave; N&#x1ED9;i,Vi&#x1EC7;t Nam, H&agrave; N&#x1ED9;i,
      .opacity-50(class='mt-[25px]')
        i.fa-solid.fa-phone(class='text-[#35C0BB] mr-[8px]')
        span  0000 9999
      .opacity-50(class='mt-[25px]')
        i.fa-solid.fa-envelope(class='text-[#35C0BB] mr-[8px]')
        span  phong@gmail.com
    .flex.flex-1.justify-around
      div
        h2 V&#x1EC0; CH&Uacute;NG T&Ocirc;I
        ul.opacity-50(class='text-[15px] font-[400] pt-[25px]')
          li(class='mb-[15px]')
            | Trang ch&#x1EE7;
          li(class='mb-[15px]')
            | Trang ch&#x1EE7;
          li(class='mb-[15px]')
            | Gi&#x1EDB;i thi&#x1EC7;u
          li(class='mb-[15px]')
            | S&#x1EA3;n ph&#x1EA9;m
          li(class='mb-[15px]')
            | Tin t&#x1EE9;c
          li(class='mb-[15px]')
            | Li&ecirc;n h&#x1EC7;
      div
        h2 D&#x1ECA;CH V&#x1EE4;
        ul.opacity-50(class='text-[15px] font-[400] pt-[25px]')
          li(class='mb-[15px]')
            | Trang ch&#x1EE7;
          li(class='mb-[15px]')
            | Trang ch&#x1EE7;
          li(class='mb-[15px]')
            | Gi&#x1EDB;i thi&#x1EC7;u
          li(class='mb-[15px]')
            | S&#x1EA3;n ph&#x1EA9;m
          li(class='mb-[15px]')
            | Tin t&#x1EE9;c
          li(class='mb-[15px]')
            | Li&ecirc;n h&#x1EC7;
      div
        h2 LI&Ecirc;N H&#x1EC6;
        ul.opacity-50(class='text-[15px] font-[400] pt-[25px]')
          li(class='mb-[15px]')
            | Trang ch&#x1EE7;
          li(class='mb-[15px]')
            | Trang ch&#x1EE7;
          li(class='mb-[15px]')
            | Gi&#x1EDB;i thi&#x1EC7;u
          li(class='mb-[15px]')
            | S&#x1EA3;n ph&#x1EA9;m
          li(class='mb-[15px]')
            | Tin t&#x1EE9;c
          li(class='mb-[15px]')
            | Li&ecirc;n h&#x1EC7;
  .text-white.flex.justify-around.border-t(class='text-[15px] p-[15px]')
    .flex.justify-content.align-center
      | &copy; B&#x1EA3;n quy&#x1EC1;n thu&#x1ED9;c v&#x1EC1; 
      span(class='text-[15px] text-[#35C0BB] mx-[5px] font-[600]')  Avent Team
      |  | Cung c&#x1EA5;p b&#x1EDF;i 
      span(class='text-[15px] text-[#35C0BB] mx-[5px] font-[600]')  Sapo
    .flex
      span Follow us
      i.fa-brands.fa-facebook.m-auto(class='ml-[8px]')
      i.fa-brands.fa-tiktok.m-auto(class='ml-[8px]')
      i.fa-brands.fa-google.m-auto(class='ml-[8px]')
      i.fa-brands.fa-instagram.m-auto(class='ml-[8px]')