.flex.flex-col.items-center(class='mt-[30px]')
  .border-t.border-black(class='w-[5%] m-[12px]')
  .uppercase(class='font-[600]') Bản tin
.flex.justify-center.items-center.relative(class='mt-[40px]')
  input.border(class='rounded-[3px] p-[12px] w-[20%]' type='text' placeholder='Enter your email...')
  a.absolute.font-bold(class='top-[25%] left-[53%] text-[#E8C592]' href='')
    | Subscibe
    i.fa-solid.fa-arrow-right(class='ml-[5px]')
footer.flex.justify-around(class='mt-[40px] p-[30px]')
  div
    img(src='https://demo2.wpopal.com/shopio/wp-content/uploads/2021/12/logo.svg' alt='shopio' class='mb-[15px]')
    span(class='text-[#E8C592] text-[24px]')
      | 8 (844) 880 - 33388
    div(class='mt-[15px]') Copyright &copy; 2022 Shopio. All Rights Reserved.
  div
    ul
      li.uppercase.font-bold(class='mb-[8px]') liên kết
      li(class='mb-[8px] text-[#9C9C9C]')  Pháp lý-Quyền riêng tư
      li(class='mb-[8px] text-[#9C9C9C]')  Liên hệ
      li(class='mb-[8px] text-[#9C9C9C]')  Thẻ quà tặng
      li(class='mb-[8px] text-[#9C9C9C]')  Dịch vụ khách hàng
      li(class='mb-[8px] text-[#9C9C9C]')  Tài khoản
  div
    ul
      li.uppercase.font-bold(class='mb-[8px]') Tài khoản
      li(class='mb-[8px] text-[#9C9C9C]')  Hồ sơ
      li(class='mb-[8px] text-[#9C9C9C]')  Lịch sử
      li(class='mb-[8px] text-[#9C9C9C]')  Danh sách
      li(class='mb-[8px] text-[#9C9C9C]')  Theo dõi
      li(class='mb-[8px] text-[#9C9C9C]')  Giỏ hàng
  div
    ul
      li.uppercase.font-bold(class='mb-[8px]') Công ty
      li(class='mb-[8px] text-[#9C9C9C]')  Giới thiệu về chúng tôi
      li(class='mb-[8px] text-[#9C9C9C]')  Nghề nghiệp
      li(class='mb-[8px] text-[#9C9C9C]')  Blog
      li(class='mb-[8px] text-[#9C9C9C]')  Liên hệ
      li(class='mb-[8px] text-[#9C9C9C]')  Liên hệ với chúng tôi
  div
    ul
      li.font-bold.uppercase(class='mb-[8px]') kết nối với chúng tôi
      li.flex.flex-start(class='mb-[8px]')
        .border.flex.justify-center.items-center(class='w-[35px] h-[35px] rounded-[50%] text-[#9C9C9C]')
          i.fa-brands.fa-facebook
        .border.flex.justify-center.items-center(class='w-[35px] h-[35px] rounded-[50%] text-[#9C9C9C] ml-[12px]')
          i.fa-brands.fa-instagram
        .border.flex.justify-center.items-center(class='w-[35px] h-[35px] rounded-[50%] text-[#9C9C9C] ml-[12px]')
          i.fa-brands.fa-pinterest
        .border.flex.justify-center.items-center(class='w-[35px] h-[35px] rounded-[50%] text-[#9C9C9C] ml-[12px]')
          i.fa-brands.fa-twitter
      li.font-bold.uppercase(class='mb-[8px]')
        | Thanh Toán
        <img src="./Bitmap.png" alt="">
