header
  .w-full.h-auto.border
    .flex.justify-around(class='py-[18px] relative')
      div(class='text-[22px] font-[600]') 8 (844) 880 - 33388
      div
        a(href='')
          img(src='https://demo2.wpopal.com/shopio/wp-content/uploads/2021/12/logo.svg' alt='Shopio')
      div(class='text-[22px]')
        i.fa-solid.fa-magnifying-glass(
          id='search'
          class='mr-[12px] hover:text-[#EBCC9F] hover:cursor-pointer open-search'
        )
        i.fa-regular.fa-heart(class='mr-[12px] hover:text-[#EBCC9F] hover:cursor-pointer')
        i.fa-regular.fa-user(class='mr-[12px] hover:text-[#EBCC9F] hover:cursor-pointer')
        i.fa-solid.fa-cart-shopping(class='mr-[12px] hover:text-[#EBCC9F] hover:cursor-pointer')


      .w-full.border.flex.justify-center(
        id='search-header'
        class='py-[30px] bg-[#DCDCDC] open-search-header absolute top-[0px] z-[999] hidden'
        )
        .relative
          input(class='p-[12px] w-[600px] rounded-[8px] outline-none' type='text' placeholder='Nhập vào đây...........')
          i.fa-solid.fa-magnifying-glass.absolute(class='top-[15px] right-[12px]')
        .flex.relative(class='w-[18px] h-[18px] top-[-24px] right-[-20%] hover:text-[#E8C592] hover:cursor-pointer')
          i.fa-solid.fa-xmark.m-auto



    .border-t.h-auto(class='py-[18px]')
      .flex.justify-center.items-center
        ul.flex.flex-row.justify-between(class='font-[600]')
          a(href='/')
            li.transition(class='mr-[28px] ml-[12px] hover:text-[#EBCC9F] hover:cursor-pointer')
              | Trang chủ
          a(href='/intro')
            li.transition(class='mr-[28px] ml-[12px] hover:text-[#EBCC9F] hover:cursor-pointer')
              | Giới Thiệu
          a(href='/products')
            li.flex.justify-center.align-center.relative.transition(class='mr-[28px] ml-[12px] hover:text-[#EBCC9F] hover:cursor-pointer')
              | Trang sức
              i.fa-solid.fa-sort-down(class='ml-[5px]')
              .absolute.text-white(class='text-[10px] px-[5px] rounded-[20px] top-[-25px] left-[2px] bg-[#F89619]')
                | Bộ sưu tập
          a(href='/article')
            li.transition(class='mr-[28px] ml-[12px] hover:text-[#EBCC9F] hover:cursor-pointer')
              | Bài viết
          a(href='/')
            li.transition(class='mr-[28px] ml-[12px] hover:text-[#EBCC9F] hover:cursor-pointer')
              | Thông tin
          a(href='/')
            li.relative.transition(class='mr-[28px] ml-[12px] hover:text-[#EBCC9F] hover:cursor-pointer')
              | Sản phẩm hot
              .absolute.text-white(class='text-[10px] px-[5px] rounded-[20px] top-[-25px] left-[15px] bg-[#E56D6D]')
                | Hot
          a(href='/')
            li.transition(class='ml-[12px] hover:text-[#EBCC9F] hover:cursor-pointer')
              | Liên hệ                
