<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <title>Document</title>
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  </style>
  <body>
    <div class="w-full py-[30px] border bg-[#9C9C9C] flex justify-center">
      <div class="relative">
        <input
          class="p-[12px] w-[600px] rounded-[8px]"
          type="text"
          placeholder="Nhập vào đây..........."
        />
        <i
          class="fa-solid fa-magnifying-glass absolute top-[15px] right-[12px]"
        ></i>
      </div>
      <div
        class="w-[18px] h-[18px] flex relative top-[-24px] right-[-20%] hover:text-[#E8C592] hover:cursor-pointer"
      >
        <i class="fa-solid fa-xmark m-auto close"></i>
      </div>
    </div>
  </body>
</html>
