header
  .flex.justify-around.w-full(class='h-[70px] size-[10px]')
    div 
      <img src="/images/logo.webp" alt="logo" class="mt-[10px]">
    .flex
      .h-full.flex(class='border-l-[1px] border-r-[1px] border-[#EBEBEB] px-[15px]')
        i.fa-solid.fa-phone.m-auto(class='text-[#35C0C5]')
        span.m-auto(class='ml-[5px] hover:text-[#35C0C5]') 0000 9999 
      .h-full.flex(class='border-r-[1px] border-[#EBEBEB]')
        i.fa-solid.fa-magnifying-glass.m-auto(class='text-[#35C0C5] ml-[25px] hover:text-[#1B1B1B]')
        input.m-auto.bg-transparent.outline-none(class='ml-[15px]' type='text' placeholder='Tìm kiếm...')
      a.h-full.flex(href='' class='border-r-[1px] border-[#EBEBEB] px-[15px] transition duration-500 hover:text-white hover:bg-[#35C0C5]')
        i.fa-regular.fa-user.m-auto(class='text-[#35C0C5] hover:text-white')
        span.m-auto(class='ml-[8px]') &Dstrok;&abreve;ng nh&#x1EAD;p
      a.h-full.flex(href='' class='border-r-[1px] border-[#EBEBEB] px-[15px]')
        i.fa-regular.fa-user.m-auto(class='text-[#35C0C5]')
        span.m-auto(class='ml-[8px]') &Dstrok;&abreve;ng k&iacute;
      a.h-full.flex(href='' class='border-r-[1px] border-[#EBEBEB] px-[15px]')
        i.fa-solid.fa-cart-shopping.m-auto(class='text-[#35C0C5]')
        span.m-auto(class='ml-[8px]') Gi&#x1ECF; h&agrave;ng
  .w-full.text-white(class='bg-[#1B1B1B] h-[40px]')
    ul.flex.justify-center.h-full(class='text-[15px]')
      li.flex
        a.m-auto(href='/' class='ml-[35px] transition duration-500 hover:opacity-50') TRANG CH&#x1EE6;
      li.flex
        a.m-auto(href='/' class='ml-[35px] transition duration-500 hover:opacity-50') GI&#x1EDA;I THI&#x1EC6;U
      li.flex
        a.m-auto(href='/products' class='ml-[35px] transition duration-500 hover:opacity-50') S&#x1EA2;N PH&#x1EA8;M
      li.flex
        a.m-auto(href='/' class='ml-[35px] transition duration-500 hover:opacity-50') TIN T&#x1EE8;C
      li.flex
        a.m-auto(href='/' class='ml-[35px] transition duration-500 hover:opacity-50') B&#x1EA2;N &Dstrok;&#x1ED2;
      li.flex
        a.m-auto(href='/' class='ml-[35px] transition duration-500 hover:opacity-50') LI&Ecirc;N H&#x1EC6;