* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  /* height: 100%; */
  height: 100vh;
}

/* Show alert  */
[show-alert] {
  position: fixed;
  /* top: 70px; */
  right: 15px;
  z-index: 9999;
}

[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 15px;
  }
  to {
    right: -100%;
    display: none;
  }
}

[show-alert] [close-alert] {
  background: #ffffffc4;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}
/* End Show Alert */

/* Image Preview */
.image-preview {
  width: 150px;
  height: auto;
  margin-top: 15px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}

.image-preview[src=""] {
  display: none;
}
/* End Image Preview */

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 24px; /* Giữa các cột */
  margin-left: 15px;
  margin-top: 30px;
}

.col-6 {
  flex: 0 0 50%; /* Chiếm 50% chiều rộng */
  max-width: 30%;
}

.card {
  background-color: #fff; /* Màu nền */
  border-radius: 8px; /* Đường viền bo tròn */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Đổ bóng */
  margin-bottom: 16px; /* Khoảng cách dưới thẻ card */
}

.card-header {
  background-color: #f8f9fa; /* Màu nền cho header */
  padding: 8px 16px; /* Padding cho header */
  font-weight: bold; /* Chữ đậm */
  font-size: 1.2rem; /* Kích thước chữ */
}

.card-body {
  padding: 16px; /* Padding cho body */
}

.card-body p {
  margin: 8px 0; /* Khoảng cách giữa các đoạn văn */
}

.card-body b {
  color: #000; /* Màu sắc của chữ đậm */
}
