extends ../../layouts/default.pug 

block main
  img(
    class='w-full'
    src="https://bizweb.dktcdn.net/100/302/551/collections/danen-untitled-1-12.jpg?v=1657274526993"
    alt="")
  div(class='mt-[30px] ml-[8%]')
    div(class='flex text-[#5C3F2C] items-center text-[12px] font-[600]') 
      <i class="fa-solid fa-house-user mr-[8px]"></i>
      a(href='/') TRANG CHỦ
    div(class='mt-[30px]')
      span(class='text-[#5C3F2C]') Về Chúng Tôi
      div(class='border-t w-full')

  div(class='mt-[30px]')
    div(class='m-auto w-[50%] text-[#5C3F2C] text-[24px]') Lịch Sử Thành Lập
    div(class='m-auto w-[50%] text-[#5C3F2C] text-[12px] mb-[8px]')
      | Shopio, shop trang sức bạc be bé của cô gái nhỏ yêu cái đẹp và sự hoài cổ.
    div(class='m-auto w-[50%] text-[#5C3F2C] flex-wrap text-[12px] mb-[8px]')
      | Thành lập vào tháng 11/2024 , Shopio khởi đầu với những sản phẩm về wire art. Sự tình cờ đã đưa Shopio đến với thế giới trang sức, từ đó giấc mơ của Shopio ngày một được vun đắp để đem nhiều sản phẩm chất lượng và độc đáo nhất đến tay của khách hàng Việt Nam và quốc tế.
    div(class='m-auto w-[50%] text-[#5C3F2C] flex-wrap text-[12px] mb-[8px]')
      |Đến với Tôi, bạn sẽ cảm nhận được sự tỉ mỉ trên những sản phẩm tạo ra bởi bàn tay tài hoa từ những người thợ kim hoàn của Shopio. Từng thiết kế, từng đường nét được lấy từ cảm hứng, từ đam mê, hoài bão mà KaT đã và đang chắt chiu từng ngày trên con đường phát triển
    div(class='m-auto w-[50%] h-auto')
      img(src="https://lili.vn/wp-content/uploads/2021/05/Header_Group_1f.jpg", alt="")
    div(class='m-auto w-[50%] text-[#5C3F2C] flex-wrap text-[12px] mb-[8px]')
      |Số giấy phép kinh doanh: **************
    div(class='m-auto w-[50%] text-[#5C3F2C] flex-wrap text-[12px] mb-[8px]')
      |Do UBND ****cấp GCN ĐKHKD ngày: **/11/2024

