extends ../../layouts/default.pug 

block main 
  .w-full.h-auto.relative.overflow-hidden
    img.transition.duration-500.ease-in-out(class='hover:scale-110' src='https://s3-alpha-sig.figma.com/img/33dc/42b8/59f7c0963d99a71ed340878eeac4bbae?Expires=1733097600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=iaGVPURMD5VLdmLI-9UcrKHm5nydccu2KxnBUkBD5v0Lh0OFF22LUlkqg1A~fVJaouYJf4oH7GislchIe1FMTu~h8tim5ueyV9jqDOezkpWXzP~nckssSBUkBr2pMqnKu2IlpWfa1BTNcwy1m3LhH88issy5EmEkS9fLm7E~huUWbamgE5WpMa6nBcz-Jw860T3JR2XsJ~8d4LdlzWESKHYq8TiyJiFjoKdRDcENCKOr9vfqX-a0tCvAUYGbngAqCVfuPM1nPDn7bjjgDNpRoZS2TMrR2x4CygxYCA6qpdLI1-gicT4wfnfhtXGwrOKwWpF7IfURGhoaEi-ZKAIBcw__' alt='')
    .absolute(class='top-[30%] right-[10%]')
      .flex(class='text-[12px] font-[600] mb-[30px]')
        .flex(class='mx-[8px]')
          .border-t.border-black.m-auto(class='w-[18px]')
        |  ĐỘC QUYỀN TRỰC TUYẾN
      img(src='A New Legacy for Luxury.png' alt='')
      .inline-block.bg-white.transition(class='py-[8px] px-[18px] text-[12px] rounded-[3px] font-[600] mt-[30px] hover:bg-black hover:text-white')
        a(href='#')
          span  Mua Sắm Ngay 
          i.fa-solid.fa-arrow-right(class='ml-[5px]')
  .flex.justify-center(class='mt-[40px] h-[850px]')
    .relative
      .uppercase(class='text-[18px] m-[10px] font-[600]')
        | khám phá bộ sưu tập 
      .overflow-hidden.flex-1(class='mr-[25px]')
        img.transition.duration-500.ease-in-out(class='hover:scale-110' src='https://s3-alpha-sig.figma.com/img/4b35/4b50/f269e3afa84f5059f6aa286ed2245c26?Expires=1733097600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=m2GIZV5w1p979JZPlQEZFvn7uiSn3l2tRB6vvOfuQx6qvgUW2e8KYCPbqUvHxze1YZLlX5GaDfMuWrMTgdiZzV-F~g3F64j1m83~AEXi2bLbOjOSCz88-ttLj7EGWJi4TP25GrfMd3Octrnd51FpkVylx9azxHms-2Ob1CFK~wtbJMWdikmMPmCgzEy~M4xH93m4-qMhaB2-vgsV70WQupwC0hcIzVvC2fWVU8OHeD81n2f2w30o0QjRrrmSckjKvOeRMXB500Yx05Ux7yNy08Nrcomrd7i15EvnZD8eQ98YC4Mjo0Xxe-ESzJwE01jXgoXl9QsH-L87mdZzaLkdzg__' alt='')
      .absolute.text-white(class='bottom-[12%] left-[10%] text-[18px] font-[600] hover:cursor-pointer')
        a Mua sắm ngay
        i.fa-solid.fa-arrow-right(class='ml-[5px]')
    .overflow-hidden.relative
      img.transition.duration-500.ease-in-out(class='hover:scale-110' src='https://s3-alpha-sig.figma.com/img/4cd0/aed9/21ee3db26df25ad2e9a16a4509ac53cb?Expires=1733097600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=pZ6eUMyUfZasml7-pG4BnxPK~-buNxBm7zEYcWnuMQCXBY4pWS5H4Tvfl~5NfD4eYRD~c2BI02aa1kg1sybJVOONO~R2KFz7-XeaSOFL26yLJ9uGLq6JF4lzX88jEM8AuJzWadwwZm1knYu1Kq1gOE36Y3l3uiw0yXpV6DD6uqgIF2CouZdwhS~ksdCE-JnCDJ3l-oMJo857Jj~VdqkHrNNaOCxfAMMds2RunmjRJ9sn4S60T6B5N~5J~A-5EQwR3HXMr2vEcKn~kgTyENz2liy1CO2T8WBSUNWzLZy3JAifrYAXQz8Uk8x0isLzHI9uXqpVVsEV2RjNU956KEtwRg__' alt='')
      .absolute.text-white(class='top-[12%] right-[10%] text-[18px] font-[600] hover:cursor-pointer')
        a Mua sắm ngay
        i.fa-solid.fa-arrow-right(class='ml-[5px]')
  .flex.justify-center.relative.overflow-hidden(class='mt-[40px]')
    div
      img.transition.duration-300.ease-in-out(class='hover:scale-110' src='https://s3-alpha-sig.figma.com/img/cf01/baec/d4c9781e1da07b78501eb36ec2f303d0?Expires=1733097600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=W6B5O3BsOVBjUu3Gxqk-Fi0vMurSbRvZ5K2iN-AaLuydB4qAtQCFEUfnC8UnmR~sVyQogXsg73nTXEOGk-fJgI3Zl8Jo9iC-jt0JqMejytd1sV4GNprZKFbH5WcV2RAlKpT~RVCr5VtrlvxrDqKGWzv~LnF7MVfsn7hzCN4FOvkxRzhNytEboy4iciCQygWH-6rR6ZjyLuch3a6BHxCI4wFF2~Ws7kZNANPOrnbJiQdnsC5k0MsIubBIszn4iatAYymAlgXmoulSoCX~f37P5KRFKjquwock8qQBC07NmD7rk503KiQ42FNeYwyCB~EA-YHcHQWSileWQzeVDc1m8A__' alt='')
    .absolute(class='bottom-[15%] left-[20%] text-[18px] font-[600] hover:cursor-pointer')
      a Mua sắm ngay
      i.fa-solid.fa-arrow-right(class='ml-[5px]')

  .flex.flex-col.items-center(class='mt-[40px]')
    .border-t.border-black(class='w-[2%] m-[12px]')
    .uppercase(class='font-[600]') Khám phá các mặt hàng của chúng tôi
  .flex.justify-center(class='mt-[40px]')
    .relative(class='ml-[22px]')
      img(class='w-[414px] h-[553px]' src='https://s3-alpha-sig.figma.com/img/626b/21ee/bb21e62156d2382fdbcb5deb34833b45?Expires=1733097600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HDhylUqk0qjS5VSE~2eW0~B5fru00IRzxZCp-PwjZ5qw2h~TzVy4MMyyAIG1RRldx-Evn8dyB~4gz2HKdn3iFaXvn1xVlNHSgEglShM63PkFeIvXorPA7wMfWYqVB1Ir6gwjO4pH3nOuBXqOT3MqUDrRQNFOSvpISsWcmIm552gHRQqyLlBBbhnLAzRC1AM61-8FgtbNh3kfjW4xhAw1O-NQ9ce9R7bQD0iE1EfyKqL4H2mZfuIraha4A34cBRm0BzM6iqFXF-ZbnA7npPG1Vmlf-HComkiQRH0BskBMBC4DiRPoCTdcLyk1kXCBtpclSC5UJAHp9C0ShBYdjdsvbA__' alt='')
      .absolute.text-white.font-bold(class='px-[8px] rounded-[10px] bg-[#E56D6D] top-[3%] left-[3%] text-[12px]')
        | -39%
      .flex.flex-col.items-center(class='py-[8px]')
        span(class='text-[#999999]') NHẪN
        span(class='font-[600]') Nh&#x1EAB;n Sleek Steel
        div
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-regular.fa-star
        .flex
          span(class='text-[18px] text-[#E56D6D] mr-[3px]') $400.33
          span(class='text-[12px] text-[#9C9C9C] line-through flex justify-center items-center') $752.33 
    .relative(class='ml-[22px]')
      img(class='w-[414px] h-[553px]' src='https://s3-alpha-sig.figma.com/img/626b/21ee/bb21e62156d2382fdbcb5deb34833b45?Expires=1733097600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HDhylUqk0qjS5VSE~2eW0~B5fru00IRzxZCp-PwjZ5qw2h~TzVy4MMyyAIG1RRldx-Evn8dyB~4gz2HKdn3iFaXvn1xVlNHSgEglShM63PkFeIvXorPA7wMfWYqVB1Ir6gwjO4pH3nOuBXqOT3MqUDrRQNFOSvpISsWcmIm552gHRQqyLlBBbhnLAzRC1AM61-8FgtbNh3kfjW4xhAw1O-NQ9ce9R7bQD0iE1EfyKqL4H2mZfuIraha4A34cBRm0BzM6iqFXF-ZbnA7npPG1Vmlf-HComkiQRH0BskBMBC4DiRPoCTdcLyk1kXCBtpclSC5UJAHp9C0ShBYdjdsvbA__' alt='')
      .absolute.text-white.font-bold(class='px-[8px] rounded-[10px] bg-[#E56D6D] top-[3%] left-[3%] text-[12px]')
        | -39%
      .flex.flex-col.items-center(class='py-[8px]')
        span(class='text-[#999999]') NHẪN
        span(class='font-[600]') Nh&#x1EAB;n Sleek Steel
        div
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-regular.fa-star
        .flex
          span(class='text-[18px] text-[#E56D6D] mr-[3px]') $400.33
          span(class='text-[12px] text-[#9C9C9C] line-through flex justify-center items-center') $752.33 
    .relative(class='ml-[22px]')
      img(class='w-[414px] h-[553px]' src='https://s3-alpha-sig.figma.com/img/626b/21ee/bb21e62156d2382fdbcb5deb34833b45?Expires=1733097600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HDhylUqk0qjS5VSE~2eW0~B5fru00IRzxZCp-PwjZ5qw2h~TzVy4MMyyAIG1RRldx-Evn8dyB~4gz2HKdn3iFaXvn1xVlNHSgEglShM63PkFeIvXorPA7wMfWYqVB1Ir6gwjO4pH3nOuBXqOT3MqUDrRQNFOSvpISsWcmIm552gHRQqyLlBBbhnLAzRC1AM61-8FgtbNh3kfjW4xhAw1O-NQ9ce9R7bQD0iE1EfyKqL4H2mZfuIraha4A34cBRm0BzM6iqFXF-ZbnA7npPG1Vmlf-HComkiQRH0BskBMBC4DiRPoCTdcLyk1kXCBtpclSC5UJAHp9C0ShBYdjdsvbA__' alt='')
      .absolute.text-white.font-bold(class='px-[8px] rounded-[10px] bg-[#E56D6D] top-[3%] left-[3%] text-[12px]')
        | -39%
      .flex.flex-col.items-center(class='py-[8px]')
        span(class='text-[#999999]') NHẪN
        span(class='font-[600]') Nh&#x1EAB;n Sleek Steel
        div
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-regular.fa-star
        .flex
          span(class='text-[18px] text-[#E56D6D] mr-[3px]') $400.33
          span(class='text-[12px] text-[#9C9C9C] line-through flex justify-center items-center') $752.33 
  .flex(class='mt-[40px]')
    .flex-1
      img(src='https://www.figma.com/file/AIM9JAjNDGyy3p7em1qtbF/image/9a745c6af01837fe72c342612e270767c3a9cef9' alt='')
    .flex.items-center.justify-center.flex-1
      img.m-auto(class='w-[414px] h-[553px]' src='https://s3-alpha-sig.figma.com/img/cb69/04c1/f12278e260c8e4aac58c1f7c45fd56eb?Expires=1733097600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=muMs3WSlFkpUAggjUfsPtSTqRqNOw1A3isulhl2XwqZW~4oA5hQkktAXyK5FC829jW3SKJKZTh7VaCSwhV3J~B6z-wwx4LyB2vZp6oWWUQzf8ryLA-3JdLlzN9O0H-DRhKrPqQ0DtUt1qgsGUWczPK~W5GkBiuSO6vqMUO3MuLYlKmbJ~UOOIpy9EKeSdWLP6le6NIlQrdUrx2ll7KE8CBEr3-KyndPdpOpflrhFxe1Q~MoXts~S0En8kyZfZtWHwG5dEJ9XaQIQCTYhKREE45Wq2pEElbIHQEvmfJFmL4DXDLCSC~kmDOU48175LuZCF8GTJGBIJ9WQag-RdMj~xg__' alt='')
  .flex
    .flex.items-center.justify-center.flex-1
      img.m-auto(class='w-[414px] h-[553px]' src='https://s3-alpha-sig.figma.com/img/cb69/04c1/f12278e260c8e4aac58c1f7c45fd56eb?Expires=1733097600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=muMs3WSlFkpUAggjUfsPtSTqRqNOw1A3isulhl2XwqZW~4oA5hQkktAXyK5FC829jW3SKJKZTh7VaCSwhV3J~B6z-wwx4LyB2vZp6oWWUQzf8ryLA-3JdLlzN9O0H-DRhKrPqQ0DtUt1qgsGUWczPK~W5GkBiuSO6vqMUO3MuLYlKmbJ~UOOIpy9EKeSdWLP6le6NIlQrdUrx2ll7KE8CBEr3-KyndPdpOpflrhFxe1Q~MoXts~S0En8kyZfZtWHwG5dEJ9XaQIQCTYhKREE45Wq2pEElbIHQEvmfJFmL4DXDLCSC~kmDOU48175LuZCF8GTJGBIJ9WQag-RdMj~xg__' alt='')
    .flex-1.w-full
      img.w-full(src='https://s3-alpha-sig.figma.com/img/2ec2/3acf/3ff24e4c658b2c5ffa7bc19e90ab1ac9?Expires=1733097600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=h0-V~KStL-diGeXYgz-2nH9B2AxkG7rCFieMfjgWXhnJkZT7BETXSaD6NqG~HrkXqjIHqhOS8mvhew13~MCpceMH8zN7oJa~dDhqeR6LhNRM2o40iDVyiroIcoeqDJ5lXC-~aHfV8ytSrjYqUkAUQU7bYnyM00nqO-DutWqnGmX1Vebli9SuRW59XWob099PZ4cGNu0q4xGRdkfK21ebxgHnAZnZy5r8nXa0TX2R5BihrZT6EUD6C5Ie6T2dW1O0I-zZu~oaNmOwRls-f~S5h5LH17dOFXCqY42aA8JYDJ06bvyPeRgdnaS~YhVs408~V-mEbtuAmmfFQtwv2kUOHw__' alt='')
  .flex.flex-col.items-center(class='mt-[40px]')
    .border-t.border-black(class='w-[2%] m-[12px]')
    .uppercase(class='font-[600]') Chọn cho bạn

  .flex.justify-center(class='mt-[40px]')
    .relative(class='ml-[12px]')
      img(class='w-[300px] h-[409px]' src='https://s3-alpha-sig.figma.com/img/626b/21ee/bb21e62156d2382fdbcb5deb34833b45?Expires=1733097600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HDhylUqk0qjS5VSE~2eW0~B5fru00IRzxZCp-PwjZ5qw2h~TzVy4MMyyAIG1RRldx-Evn8dyB~4gz2HKdn3iFaXvn1xVlNHSgEglShM63PkFeIvXorPA7wMfWYqVB1Ir6gwjO4pH3nOuBXqOT3MqUDrRQNFOSvpISsWcmIm552gHRQqyLlBBbhnLAzRC1AM61-8FgtbNh3kfjW4xhAw1O-NQ9ce9R7bQD0iE1EfyKqL4H2mZfuIraha4A34cBRm0BzM6iqFXF-ZbnA7npPG1Vmlf-HComkiQRH0BskBMBC4DiRPoCTdcLyk1kXCBtpclSC5UJAHp9C0ShBYdjdsvbA__' alt='')
      .absolute.text-white.font-bold(class='px-[8px] rounded-[10px] bg-[#E56D6D] top-[3%] left-[3%] text-[12px]')
        | -39%
      .flex.flex-col.items-center(class='py-[8px]')
        span(class='text-[#999999]') RING
        span(class='font-[600]') Nh&#x1EAB;n Sleek Steel
        div
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-regular.fa-star
        .flex
          span(class='text-[18px] text-[#E56D6D] mr-[3px]') $400.33
          span(class='text-[12px] text-[#9C9C9C] line-through flex justify-center items-center') $752.33
    .relative(class='ml-[12px]')
      img(class='w-[300px] h-[409px]' src='https://s3-alpha-sig.figma.com/img/626b/21ee/bb21e62156d2382fdbcb5deb34833b45?Expires=1733097600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HDhylUqk0qjS5VSE~2eW0~B5fru00IRzxZCp-PwjZ5qw2h~TzVy4MMyyAIG1RRldx-Evn8dyB~4gz2HKdn3iFaXvn1xVlNHSgEglShM63PkFeIvXorPA7wMfWYqVB1Ir6gwjO4pH3nOuBXqOT3MqUDrRQNFOSvpISsWcmIm552gHRQqyLlBBbhnLAzRC1AM61-8FgtbNh3kfjW4xhAw1O-NQ9ce9R7bQD0iE1EfyKqL4H2mZfuIraha4A34cBRm0BzM6iqFXF-ZbnA7npPG1Vmlf-HComkiQRH0BskBMBC4DiRPoCTdcLyk1kXCBtpclSC5UJAHp9C0ShBYdjdsvbA__' alt='')
      .absolute.text-white.font-bold(class='px-[8px] rounded-[10px] bg-[#E56D6D] top-[3%] left-[3%] text-[12px]')
        | -39%
      .flex.flex-col.items-center(class='py-[8px]')
        span(class='text-[#999999]') RING
        span(class='font-[600]') Nh&#x1EAB;n Sleek Steel
        div
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-regular.fa-star
        .flex
          span(class='text-[18px] text-[#E56D6D] mr-[3px]') $400.33
          span(class='text-[12px] text-[#9C9C9C] line-through flex justify-center items-center') $752.33
    .relative(class='ml-[12px]')
      img(class='w-[300px] h-[409px]' src='https://s3-alpha-sig.figma.com/img/626b/21ee/bb21e62156d2382fdbcb5deb34833b45?Expires=1733097600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HDhylUqk0qjS5VSE~2eW0~B5fru00IRzxZCp-PwjZ5qw2h~TzVy4MMyyAIG1RRldx-Evn8dyB~4gz2HKdn3iFaXvn1xVlNHSgEglShM63PkFeIvXorPA7wMfWYqVB1Ir6gwjO4pH3nOuBXqOT3MqUDrRQNFOSvpISsWcmIm552gHRQqyLlBBbhnLAzRC1AM61-8FgtbNh3kfjW4xhAw1O-NQ9ce9R7bQD0iE1EfyKqL4H2mZfuIraha4A34cBRm0BzM6iqFXF-ZbnA7npPG1Vmlf-HComkiQRH0BskBMBC4DiRPoCTdcLyk1kXCBtpclSC5UJAHp9C0ShBYdjdsvbA__' alt='')
      .absolute.text-white.font-bold(class='px-[8px] rounded-[10px] bg-[#E56D6D] top-[3%] left-[3%] text-[12px]')
        | -39%
      .flex.flex-col.items-center(class='py-[8px]')
        span(class='text-[#999999]') RING
        span(class='font-[600]') Nh&#x1EAB;n Sleek Steel
        div
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-regular.fa-star
        .flex
          span(class='text-[18px] text-[#E56D6D] mr-[3px]') $400.33
          span(class='text-[12px] text-[#9C9C9C] line-through flex justify-center items-center') $752.33
    .relative(class='ml-[12px]')
      img(class='w-[300px] h-[409px]' src='https://s3-alpha-sig.figma.com/img/626b/21ee/bb21e62156d2382fdbcb5deb34833b45?Expires=1733097600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HDhylUqk0qjS5VSE~2eW0~B5fru00IRzxZCp-PwjZ5qw2h~TzVy4MMyyAIG1RRldx-Evn8dyB~4gz2HKdn3iFaXvn1xVlNHSgEglShM63PkFeIvXorPA7wMfWYqVB1Ir6gwjO4pH3nOuBXqOT3MqUDrRQNFOSvpISsWcmIm552gHRQqyLlBBbhnLAzRC1AM61-8FgtbNh3kfjW4xhAw1O-NQ9ce9R7bQD0iE1EfyKqL4H2mZfuIraha4A34cBRm0BzM6iqFXF-ZbnA7npPG1Vmlf-HComkiQRH0BskBMBC4DiRPoCTdcLyk1kXCBtpclSC5UJAHp9C0ShBYdjdsvbA__' alt='')
      .absolute.text-white.font-bold(class='px-[8px] rounded-[10px] bg-[#E56D6D] top-[3%] left-[3%] text-[12px]')
        | -39%
      .flex.flex-col.items-center(class='py-[8px]')
        span(class='text-[#999999]') RING
        span(class='font-[600]') Nh&#x1EAB;n Sleek Steel
        div
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-regular.fa-star
        .flex
          span(class='text-[18px] text-[#E56D6D] mr-[3px]') $400.33
          span(class='text-[12px] text-[#9C9C9C] line-through flex justify-center items-center') $752.33

  .flex.justify-center(class='mt-[40px]')
    .relative(class='ml-[12px]')
      img(class='w-[300px] h-[409px]' src='https://s3-alpha-sig.figma.com/img/626b/21ee/bb21e62156d2382fdbcb5deb34833b45?Expires=1733097600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HDhylUqk0qjS5VSE~2eW0~B5fru00IRzxZCp-PwjZ5qw2h~TzVy4MMyyAIG1RRldx-Evn8dyB~4gz2HKdn3iFaXvn1xVlNHSgEglShM63PkFeIvXorPA7wMfWYqVB1Ir6gwjO4pH3nOuBXqOT3MqUDrRQNFOSvpISsWcmIm552gHRQqyLlBBbhnLAzRC1AM61-8FgtbNh3kfjW4xhAw1O-NQ9ce9R7bQD0iE1EfyKqL4H2mZfuIraha4A34cBRm0BzM6iqFXF-ZbnA7npPG1Vmlf-HComkiQRH0BskBMBC4DiRPoCTdcLyk1kXCBtpclSC5UJAHp9C0ShBYdjdsvbA__' alt='')
      .absolute.text-white.font-bold(class='px-[8px] rounded-[10px] bg-[#E56D6D] top-[3%] left-[3%] text-[12px]')
        | -39%
      .flex.flex-col.items-center(class='py-[8px]')
        span(class='text-[#999999]') RING
        span(class='font-[600]') Nh&#x1EAB;n Sleek Steel
        div
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-regular.fa-star
        .flex
          span(class='text-[18px] text-[#E56D6D] mr-[3px]') $400.33
          span(class='text-[12px] text-[#9C9C9C] line-through flex justify-center items-center') $752.33
    .relative(class='ml-[12px]')
      img(class='w-[300px] h-[409px]' src='https://s3-alpha-sig.figma.com/img/626b/21ee/bb21e62156d2382fdbcb5deb34833b45?Expires=1733097600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HDhylUqk0qjS5VSE~2eW0~B5fru00IRzxZCp-PwjZ5qw2h~TzVy4MMyyAIG1RRldx-Evn8dyB~4gz2HKdn3iFaXvn1xVlNHSgEglShM63PkFeIvXorPA7wMfWYqVB1Ir6gwjO4pH3nOuBXqOT3MqUDrRQNFOSvpISsWcmIm552gHRQqyLlBBbhnLAzRC1AM61-8FgtbNh3kfjW4xhAw1O-NQ9ce9R7bQD0iE1EfyKqL4H2mZfuIraha4A34cBRm0BzM6iqFXF-ZbnA7npPG1Vmlf-HComkiQRH0BskBMBC4DiRPoCTdcLyk1kXCBtpclSC5UJAHp9C0ShBYdjdsvbA__' alt='')
      .absolute.text-white.font-bold(class='px-[8px] rounded-[10px] bg-[#E56D6D] top-[3%] left-[3%] text-[12px]')
        | -39%
      .flex.flex-col.items-center(class='py-[8px]')
        span(class='text-[#999999]') RING
        span(class='font-[600]') Nh&#x1EAB;n Sleek Steel
        div
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-regular.fa-star
        .flex
          span(class='text-[18px] text-[#E56D6D] mr-[3px]') $400.33
          span(class='text-[12px] text-[#9C9C9C] line-through flex justify-center items-center') $752.33
    .relative(class='ml-[12px]')
      img(class='w-[300px] h-[409px]' src='https://s3-alpha-sig.figma.com/img/626b/21ee/bb21e62156d2382fdbcb5deb34833b45?Expires=1733097600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HDhylUqk0qjS5VSE~2eW0~B5fru00IRzxZCp-PwjZ5qw2h~TzVy4MMyyAIG1RRldx-Evn8dyB~4gz2HKdn3iFaXvn1xVlNHSgEglShM63PkFeIvXorPA7wMfWYqVB1Ir6gwjO4pH3nOuBXqOT3MqUDrRQNFOSvpISsWcmIm552gHRQqyLlBBbhnLAzRC1AM61-8FgtbNh3kfjW4xhAw1O-NQ9ce9R7bQD0iE1EfyKqL4H2mZfuIraha4A34cBRm0BzM6iqFXF-ZbnA7npPG1Vmlf-HComkiQRH0BskBMBC4DiRPoCTdcLyk1kXCBtpclSC5UJAHp9C0ShBYdjdsvbA__' alt='')
      .absolute.text-white.font-bold(class='px-[8px] rounded-[10px] bg-[#E56D6D] top-[3%] left-[3%] text-[12px]')
        | -39%
      .flex.flex-col.items-center(class='py-[8px]')
        span(class='text-[#999999]') RING
        span(class='font-[600]') Nh&#x1EAB;n Sleek Steel
        div
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-regular.fa-star
        .flex
          span(class='text-[18px] text-[#E56D6D] mr-[3px]') $400.33
          span(class='text-[12px] text-[#9C9C9C] line-through flex justify-center items-center') $752.33
    .relative(class='ml-[12px]')
      img(class='w-[300px] h-[409px]' src='https://s3-alpha-sig.figma.com/img/626b/21ee/bb21e62156d2382fdbcb5deb34833b45?Expires=1733097600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HDhylUqk0qjS5VSE~2eW0~B5fru00IRzxZCp-PwjZ5qw2h~TzVy4MMyyAIG1RRldx-Evn8dyB~4gz2HKdn3iFaXvn1xVlNHSgEglShM63PkFeIvXorPA7wMfWYqVB1Ir6gwjO4pH3nOuBXqOT3MqUDrRQNFOSvpISsWcmIm552gHRQqyLlBBbhnLAzRC1AM61-8FgtbNh3kfjW4xhAw1O-NQ9ce9R7bQD0iE1EfyKqL4H2mZfuIraha4A34cBRm0BzM6iqFXF-ZbnA7npPG1Vmlf-HComkiQRH0BskBMBC4DiRPoCTdcLyk1kXCBtpclSC5UJAHp9C0ShBYdjdsvbA__' alt='')
      .absolute.text-white.font-bold(class='px-[8px] rounded-[10px] bg-[#E56D6D] top-[3%] left-[3%] text-[12px]')
        | -39%
      .flex.flex-col.items-center(class='py-[8px]')
        span(class='text-[#999999]') RING
        span(class='font-[600]') Nh&#x1EAB;n Sleek Steel
        div
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-solid.fa-star(class='text-[#E8C592]')
          i.fa-regular.fa-star
        .flex
          span(class='text-[18px] text-[#E56D6D] mr-[3px]') $400.33
          span(class='text-[12px] text-[#9C9C9C] line-through flex justify-center items-center') $752.33          
                                        
              

