extends ../../layouts/default.pug 

block main
  img(
    class='w-full'
    src="https://bizweb.dktcdn.net/100/302/551/collections/danen-untitled-1-12.jpg?v=1657274526993"
    alt="")
  div(class='mt-[30px] ml-[8%]')
    div(class='flex text-[#5C3F2C] items-center text-[12px] font-[600]') 
      <i class="fa-solid fa-house-user mr-[8px]"></i>
      a(href='/') TRANG CHỦ
    div(class='mt-[30px]')
      span(class='text-[#5C3F2C]') #{pageTitle}
      div(class='border-t w-full')