header.w-full.text-white(class='bg-[#3D454E] px-[25px] py-[20px]')
  div
    .flex.items-center(class='text-[25px]')
      i.fa-solid.fa-house-user(class='mr-[10px]')
      a(href=`/${prefixAdmin}/dashboard`) ADMIN 